@use '../../../color' as *;

.inputContainer {
  height: 2em;
  display: flex;
  width: 100%;
  
  input[type=text] {
    padding-left: 1.1em;
    color: $text-6;
  }
  
  input::-webkit-input-placeholder {
    font-weight: bold;
    color: $text-6;
    font-weight: 500;
  }

  .input {
    width: 82%;
    height: 100%;
    color: $text-6;
    font-weight: 400;
    font-size: 1.1em;
    border: 1px solid $stroke-1;
    border-radius: 0.3em;
  }

  .submitButton {
    width: 15%;
    height: 100%;
    min-width: 5em;
    background-color: $primary;
    border: none;
    border-radius: 5px;
    color: $text-8;
    font-size: 1.1em;
    margin-left: 1em;

    &:hover {
      cursor: pointer;
    }
  }
}