@use "../../../color" as *;

.qnaContainer {
  width: 100%;
  height: 160px;
  border: 1px solid $stroke-2;
  border-radius: 10px;
  padding: 8px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  // box-shadow: 0px 4px 10px #ccc;
  background-color: white;
  transition: all ease 0.2s;
  &:hover {
    cursor: pointer;
    // transform: translateY(-2px);
    box-shadow: 0px 2px 4px #ccc;
  }

  .qnaHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .qnaTitle {
      font-size: 1.2rem;
      color: $text-4;
    }
    .talkbubbleBox {
      height: 1rem;
      display: inline-block;
      vertical-align: middle;
      transform: translateY(-2px);

      img {
        height: 80%;
        // padding-top:0.1rem;
        transition: all ease 0.2s;

        &:hover {
          cursor: pointer;
          transform: translateY(-2px);
        }
      }
    }
  }
  .qnaBody {
    margin-top: 12px;
    font-size: 15px;
  }
  .qnaInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;

    .qnaProfile {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      .profileImg {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .usernameWapper {
        margin-left: 10px;
        .qnaCreatedAt {
          font-size: 12px;
          color: $text-6;
        }
      }
    }
    .tagContainer {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      .qnaTag {
        margin: 0 5px;
        font-size: 14px;
        color: $primary;
      }
    }
  }
}
