@use "../../../color" as *;

.buttonContainer {
  width: 4.5rem;
  height: 1.8rem;
  background-color: $text-8;
  border: 1px solid $primary;
  border-radius: 5px;
  transition: all ease 0.2s;

  .buttonTitle {
    color: $primary;
  }
}
