@use "@/styles/_color.scss" as *;

.contentBg {
    width: 100%;
    background-color: #F4F7FA;
    padding: 1.5% 0% 5% 0%;
    
    margin-top: 20px;
}


.wrapper {
    width: max-content;
    
    position: relative;
    left: 17%;
    top: 35px;
}


.contentBox {
    width: 65vw;
    padding: 10em 0em;
    min-height: max-content;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #ffffff;
    border-radius: 0px 11px 11px 11px;
    box-shadow: 0px 4px 4px 0px rgba(47, 47, 47, 0.25);

    section + section {
        margin-top: 10rem;
    }
}


.tapMenu {
    width: 23vw;
    min-width: 23vw;
    position: relative;
    display:flex;
    justify-content: space-between;
    flex-direction: row;        
    ul {
        width: 80%;
    }

    li {
        font-size: 16px;
        letter-spacing: -2px;
        font-weight: 600;
        background-color: #ffffff;
        box-shadow: 0px 4px 4px 0px rgba(47, 47, 47, 0.25);
        border-radius: 4px 4px 0px 0px;
        // padding: 10px 14px 10px 15px;
        padding: 3% 0% ;
        width: calc(100% - 68%);
        text-align: center;
        

        
        &:active {
            background-color: #A1CFDD;
            color: #ffffff;
        }

        &:nth-child(1) {
            background-color: #A1CFDD;
            color: #ffffff;
        }
    }
}

.moreLink {
    width: 70em;
    text-align: right;
    font-weight: 400;
    font-size: 13px;
    position: absolute;
    top: 6em;
    // right: 12em;
}


.bookShelf {
    height: 12em;
    width: 57em;
    
    
    background-image: url('./bookshelf.svg');
    // background-size: 97% 101%;
    background-size: cover;
    background-repeat: no-repeat;
    
    position: relative;
    
}




// 테스트용 더미 책
.books {
    width: 57em;
    display : flex;
    flex-direction: row;
    justify-content: space-around;

    position: absolute;
    bottom: 2em;
}

.dummyBook {
    width: 9.5em; 
    height: 12em;
    background-color: gray;
    
}