// @use "@/styles/_color.scss" as *;

/* 모달창을 화면 중앙. 최상단에 노출 */
.wrapper {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($color: #333, $alpha: .2);
//   z-index: 999;
  
  .modal {
    width: 35%;
    height: 60%;
    top: 50%;
    left: 50%;

    // transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid rgb(96, 96, 96);
    border-color: lightgray;
    border-radius: 0.9em;
    box-shadow: 0px 5px 10px 0px lightgray;

    h1 {
        margin-top: 5%;
        margin-bottom: 2%;
        line-height: 2em;
        text-align: center;
    }
    hr {
        border: 0.5px solid lightgray;
    }
    .logCon {
        border: 1px solid pink;
        width: 80%;
        // height: 60%;
        display: flex;
        flex-direction: column;
        margin-top: 1em;
    }
    .id {
        margin-bottom: 5%;
        font-size: 15px;        
    }
    .pw {
        margin-bottom: 5%;
        font-size: 15px;
    }
    .btn_login{
        background-color: #A1CFDD;
        border: none;
        border-radius: 5px;
        font-size: 15px;
        color:white;
        height: 15%;    
        &:hover {
            cursor: pointer;
        }    
    }
    .close {
        // position: absolute;
        background-color: white;
        border: none;
        font-size: 1.5em;
        right: 10px;
        top: 10px;
    }
    input{
        width: 100%;
        height: 12%;
        border: 2px #E0E0E0 solid;
        border-radius: 5px;
        margin: 0 0 10% 0;
        padding: 16px 0px 16px 8px;
        font-size: 15px;
        color: gray;
    }

  }
}
