// primary
$primary: rgba(161, 207, 221, 1);
$primary-2: rgba(208, 231, 238, 1);
$primary-3: rgba(227, 241, 245, 1);
$primary-4: rgba(244, 247, 250, 1);

// background
$background-1: rgba(227, 241, 245, 1);
$background-2: rgba(208, 231, 238, 1);
$background-3: rgba(255, 255, 255, 1);

// text
$text-1: rgba(0, 0, 0, 1);
$text-2: rgba(46, 46, 46, 1);
$text-3: rgba(100, 100, 100, 1);
$text-4: rgba(112, 107, 107, 1);
$text-5: rgba(116, 116, 116, 1);
$text-6: rgba(157, 157, 157, 1);
$text-7: rgba(226, 226, 226, 1);
$text-8: rgba(255, 255, 255, 1);

// stroke
$stroke-1: rgba(105, 105, 105, 1);
$stroke-2: rgba(224, 224, 224, 1);
$stroke-3: rgba(226, 226, 226, 1);